ID : {{id}}<br>
<br>
NAME : {{name}}<br>
<br>
PICTURE : <img src="{{ asset( picture ) }}" alt="{{ name }}'s picture" width="100"></td><br>
<br>
EMAIL : {{email}}<br>
<br>
NOMBRE DE LIVRES TOTALES : {{nbreLivre}}